p {
  margin-top:15px;
  margin-bottom:15px;
}

li {
  font-size: 1.01em;
}

strong {
  font-size: 0.9rem;
}

.info li {
  list-style-type: circle;
  padding-left: 5px;
  margin-top: 0.25em;
  margin-bottom: 0em;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

body {
  font-family:"Lato";
}

.yr-center {
    transform: translateY(-50%);
}

.info h2 {
    margin-top: 1rem;
}

.spoiler > input + label:after{content: "+";float: right;font-family: monospace;font-weight: bold;}
.spoiler > input:checked + label:after{content: "-";float: right;font-family: monospace;font-weight: bold;}
.spoiler > input{display:none;}
.spoiler > input + label , .spoiler > .spoiler_body{background:#3BA4D7;padding:5px 15px;overflow:hidden;width:100%;box-sizing: border-box;display: block;}
.spoiler > input + label + .spoiler_body{display:none;}
.spoiler > input:checked + label + .spoiler_body{display: block;}
.spoiler > .spoiler_body{background: #EBF5F9;border: 3px solid #3BA4D7;border-top: none;}
.spoiler {max-width: 100%;margin-left:auto;margin-right:auto;}